* {
    box-sizing: border-box;
}
  
  /* CSS Custom Properties */
:root {
    --main-bg: #4a4e4d;
    --top-menu-bg: #0e9aa7;
    --sub-menu-bg: #3da4ab;
}
body {
    font-family: Tahoma, Geneva, sans-serif;
    height: 100vh;
    margin: 0;
    display: grid;
    grid-template-rows: 3rem auto;
    color: white;
}
  
.flex-ctr {
    display: flex;
    justify-content: center;
    align-items: center;
}
.flex-around {
    display: flex;
    justify-content: space-around;
    align-items: center;
}
  
nav a {
    line-height: 3rem;
    padding: 0 1rem;
    text-transform: uppercase;
    text-decoration: none;
    color: white;
}
#top-menu a:hover {
    background-color: var(--sub-menu-bg);
}
header, #top-menu {
    position: relative;
}
#top-menu {
    z-index: 20;
}
    #sub-menu {
    width: 100%;
    z-index: 10;
    transition: top 0.5s ease-out;
}
#sub-menu a:hover {
    background-color: var(--top-menu-bg);
}
nav a.active {
    background-color: var(--sub-menu-bg);
    color: var(--main-bg);
}
.stream-container{
    display: flex;
    gap: 2rem;
    justify-content: center;
    align-items: center;
    height: 100vh;
}
.pricing-plan{
    background-color: cornflowerblue;
    flex: 1;/*so it can grow and shrink*/
    max-width: 400px;
    padding: 20px;
    border-radius: 5px;
    text-align: center;
}

.plan-title{
    font-weight: bold;
    font-size: 24px;
    margin-bottom: 10px;/*to have space in between title and price*/
}

.plan-price{
    font-weight: bold;/*lesson 6.1*/
    font-size: 48px;
    margin-bottom: 10px;/*to have space between price and feature*/
}
h2{
    text-align: center;
}